<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ihab.aios</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/ihabbishara/.nvm/versions/node/v23.8.0/bin/node</string>
    <string>/Users/ihabbishara/projects/AIOS/dist/src/index.js</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/ihabbishara/projects/AIOS</string>

  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/ihabbishara/projects/AIOS/data/aios.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ihabbishara/projects/AIOS/data/aios.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/ihabbishara/.nvm/versions/node/v23.8.0/bin:/usr/local/bin:/usr/bin:/bin:/Users/ihabbishara/.local/bin</string>
    <key>HOME</key>
    <string>/Users/ihabbishara</string>
  </dict>
</dict>
</plist>
